html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: 'Terminal Grotesque Open';
    src: url(./fonts/terminal-grot/TerminalGrotesque-Open.woff2) format('woff2'),
        url(./fonts/terminal-grot/TerminalGrotesque-Open.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    background-color: pink;
}

ul li {
    font-family: 'Terminal Grotesque Open';
    font-size: 9vw;
    list-style: none;
    margin: 2vw 2vw 0 2vw;
}

ul li:hover {
    color: yellow;
}

.bg {
    position: fixed;
    z-index: -1;
    width: 105%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -2vw;
    pointer-events: none;
    background-color: pink;
    /* background-repeat: no-repeat; */
    background-position: top right;
    /* background-size: contain; */
    background-blend-mode: multiply;
}

::after {
    font-size: 2.8vw;
    position: fixed;
    top: 2vw;
    right: 2vw;
}

.threed:hover~.bg {
    background-image: url("../images/3d-theo-trian.png");
}

.threed:hover::after {
    content: "Theo Trian";
}

.ar:hover~.bg {
    background-image: url("../images/ar-project-soli.gif");
}

.ascii:hover~.bg {
    background-image: url("../images/ascii-hippie.jpg");
}

.activist:hover~.bg {
    background-image: url("../images/activist-white-collar-crime.png");
}

.activist:hover::after {
    content: "White Collar Crime Risk Zones";
}

.adversarial:hover~.bg {
    background-image: url("../images/adversarial-cv-dazzle.png");
}

.adversarial:hover::after {
    content: "CV Dazzle";
}

.altpub:hover~.bg {
    background-image: url("../images/altpub-fast-forward.jpg");
}

.altpub:hover::after {
    content: "Fast Forward cassette magazine";
}

.architecture:hover~.bg {
    background-image: url("../images/architecture-magnasanti.jpg");
}

.architecture:hover::after {
    content: "Magnasanti: The largest and most terrifying SimCity";
}

.archives:hover~.bg {
    background-image: url("../images/archvies-ed-ruscha.jpg");
}

.archives:hover::after {
    content: "Ed Ruscha";
}

.art:hover~.bg {
    background-image: url("../images/art-hannah-hoch.png");
}

.art:hover::after {
    content: "Hannah Höch";
}

.art-direction:hover~.bg {
    background-image: url("../images/art-direction-kelsey-mcguire-michelle-mclellan.jpg");
}

.art-direction:hover::after {
    content: "Michelle Maguire & Kelsey McClellan";
}

.browser-art:hover~.bg {
    background-image: url("../images/browser-art-abstract-browsing.png");
}

.browser-art:hover::after {
    content: "Abstract Browsing, Rafaël Rozendaal";
}

.color:hover~.bg {
    background-image: url("../images/color.gif");
}

.diy:hover~.bg {
    background-image: url("../images/diy-olia-lialina.png");
}

.diy:hover::after {
    content: "One Terabyte of Kilobyte Age, Olia Lialina";
}

.diagram:hover~.bg {
    background-image: url("../images/diagram-web-dubois.jpg");
}

.diagram:hover::after {
    content: "W. E. B. Du Bois";
}

.fashion:hover~.bg {
    background-image: url("../images/fashion-comme-des-garcons.jpeg");
}

.fashion:hover::after {
    content: "COMME des GARÇONS";
}

.feminist-design:hover~.bg {
    background-image: url("../images/feminist-sheila-levrant-de-bretteville.jpg");
}

.feminist-design:hover::after {
    content: "Sheila Levrant de Bretteville";
}

.format:hover~.bg {
    background-image: url("../images/format.gif");
}

.generic:hover~.bg {
    background-image: url("../images/generic.jpg");
}

.grid:hover~.bg {
    background-image: url("../images/grid-ines-cox.jpg");
}

.grid:hover::after {
    content: "Ines Cox";
}

.identity:hover~.bg {
    background-image: url("../images/identity-flux-linked-by-air.gif");
}

.identity:hover::after {
    content: "Linked By Air";
}

.illustration:hover~.bg {
    background-image: url("../images/illustration-aurelia-durand.gif");
}

.illustration:hover::after {
    content: "Aurélia Durand";
}

.installation:hover~.bg {
    background-image: url("../images/installation.jpg");
}

.installation:hover::after {
    content: "Humans of Late Capitalism";
}

.interaction:hover~.bg {
    background-image: url("../images/interaction.gif");
}

.interface-tactile:hover~.bg {
    background-image: url("../images/interface-tactile.gif");
}

.mall:hover~.bg {
    background-image: url("../images/mall-brian-ulrich.jpg");
}

.mall:hover::after {
    content: "Brian Ulrich";
}

.material:hover~.bg {
    background-image: url("../images/material.jpg");
}

.media:hover~.bg {
    background-image: url("../images/media-radical-software.png");
}

.media:hover::after {
    content: "Radical Software";
}

.motion:hover~.bg {
    background-image: url("../images/motion-ezequiel-pini.gif");
}

.motion:hover::after {
    content: "Ezequiel Pini";
}

.neural-net:hover~.bg {
    background-image: url("../images/neural-net-yunying-huang.gif");
}

.neural-net:hover::after {
    content: "Yunying Huang";
}

.new-aesthetic:hover~.bg {
    background-image: url("../images/new-aesthetic.png");
}

.new-media:hover~.bg {
    background-image: url("../images/new-media-stephanie-syjuco.jpg");
}

.new-media:hover::after {
    content: "Stephanie Syjuco";
}

.object:hover~.bg {
    background-image: url("../images/object.jpg");
}

.participation:hover~.bg {
    background-image: url("../images/participation-studio-moniker.gif");
}

.participation:hover::after {
    content: "Moniker";
}

.photographers:hover~.bg {
    background-image: url("../images/photographers-maïmouna-guerresi.jpg");
}

.photographers:hover::after {
    content: "Maïmouna Guerresi";
}

.pizza:hover~.bg {
    background-image: url("../images/pizza-beyonce.jpg");
}

.pizza:hover::after {
    content: "Beyoncé in pizza outfit";
}

.platform:hover~.bg {
    background-image: url("../images/platform-ian-bogost.png");
}

.playground:hover~.bg {
    background-image: url("../images/playground.jpg");
}

.poster:hover~.bg {
    background-image: url("../images/poster-monthly-halloween.png");
}

.poster:hover::after {
    content: "Monthly Halloween magazine";
}

.press:hover~.bg {
    background-image: url("../images/press-serving-library.png");
}

.press:hover::after {
    content: "Serving Library, Dexter Sinister";
}

.procedural:hover~.bg {
    background-image: url("../images/procedural-vera-molnar.jpg");
}

.procedural:hover::after {
    content: "Vera Molnar";
}

.public-domain:hover~.bg {
    background-image: url("../images/public-domain.jpeg");
}

.rave:hover~.bg {
    background-image: url("../images/rave-eternity.jpg");
}